@using webCoreMvc.Models
@model Parametrs
<div class="text-center">
    <h1 class="display-4">sonunu dusunen kahraman olamaz</h1>
</div>
    <label>number1:</label>
    <input name="par1"/><br />
    <label>number2:</label>
    <input name="par2"/>
    <button class="btn btn-danger">click</button>
<h1>@ViewBag.deg</h1>
@Model.number1